h1{
    text-align: center;
    color: blue;
    font-weight: bolder;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: rgb(234, 90, 57);
}
img{
    height: 500px;
    width: 1000px;
}
